.purchase {
    h2 {
      color:$black;
      font-family:koulenRegular;
      margin-top:200px;
    }
    .problem {
      color:$black;
      font-family:mitrRegular;
      width:calc(100% - 125px);
    }
} 